<H1>Tasks Index.  Put this on pages</H1>
<h3>Also I did not make a task show page.  I feel its worthless to get a page to go from list of tasks by title to task page with just the title on it.</h3>
<h5>Also also, I have decided I really enjoy communicating through headers that get smaller in size as you go down the importance.</h5>

  <%= link_to "New Task", new_task_path %><br>

<% @tasks.each do |task| %>
  <%= task.title %>
  <%= task.status %> 
  <%= link_to "Toggle status", toggle_status_task_path(task) %>
  <br>
<% end %>
